#ihfstushdgjafaouigsy {
    color: red;
}

#purr {
    text-decoration: none;
    padding: 100px;
    font-weight: bold;
    font-size: xx-large;
}

#sajbegeghnrsbh {
    color: darkorchid;
    text-decoration: none;
}

#kitten {
    color: lime;
    font-weight: bold;
    font-size: xx-large;
    padding-left: 300px;
    padding-bottom: 50px;
}

#nyabutton {
    background-color: cornflowerblue;
    padding: 16px 16px;
    display: inline-block;
  }