body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container > .bar {
    height: 10vh;
  }

#a {background-color: #F94144;}
#b {background-color: #F3722C;}
#c {background-color: #F8961E;}
#d {background-color: #F9844A;}
#e {background-color: #F9C74F;}
#f {background-color: #90BE6D;}
#g {background-color: #43AA8B;}
#h {background-color: #4D908E;}
#i {background-color: #577590;}
#j {background-color: #277DA1;}